.ultra_ego{
    background-color: rgb(61, 19, 61);
    color: rgb(198, 108, 198);
    border: 2px solid rgb(198, 108, 198); 
}

.base{
    background-color: rgb(78, 78, 229);
    color:white;
    border:2px solid yellow;
}